<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-time"><%= @post.title %></div>
      <p><%= @post.content%></p>
      <%= link_to "メインに戻る", posts_path %>
    </div>
  </div>
</div>
